// メニュー
#menu{
    width: 40%;
    margin: 32px;
}
// メニュー終わり

// top
#section1 {
    .fv-container {
        .title-container {
            position: absolute;
            bottom: 80px;
            left: 40%;

            .title {
                font-size: 100px;
            }
            .sub {
                margin-top: 14px;
                font-size: 18px;
                color: white;
                letter-spacing: 0.05em;
                width: 520px;
            }
        }
    }
}
// top終わり

// about
#section2 {
    .about-container {
        width: 100%;
        max-width: 400px;
        .bgtext-container {
            .bgtext {
                font-size: 160px;
                bottom: 25%;
                left: -15%;
            }
        }
        .img-container {
            display: inline-block;
            width: 100%;
            text-align: center;
            .me {
                width: 100%;
                height: auto;
                margin: 20px auto;
            }
        }

        .about-text {
            width: 400px;
            .about-caption {
                width: 400px;
            }
            .link-container {
                width: 400px;
            }
        }
    }
}
// about終わり

// work
#section3 {
    .bgtext-container {
        .bgtext {
            font-size: 120px;
            top: 100px;
            left: 400px;
            z-index: -1;
            color: rgba(255, 255, 255, 0.1);
        }
    }

    .work-container {
        .work-inner {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .swiper-container {
                width: 600px;
            }

            .work-text {
                width: 600px;
            }
        }
    }
}
// work終わり

// contact
#section4 {
    .contact-container {
        .bgtext-container {
            .bgtext {
                font-size: 170px;
            }
        }
        .contact-us {
            bottom: -60%;
        }
    
        .copy {
            bottom: -78%;
        }
    }
    
}
// contact終わり